# Odisee
webservice/src/main/docker/var/deploy/**
webservice/src/main/docker/var/document/**
webservice/src/main/docker/var/tmp/
oxt/antlib/
oxt/Odisee/build/
oxt/Odisee/dist/
clients/client-vbnet/src/.vs/
clients/client-vbnet/src/vb/OdiseeClient/bin/
clients/client-vbnet/src/vb/OdiseeClient/obj/

# Docker
.env

# Gradle
.gradle/
build/
out/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.settings
.classpath

# Visual Studio
*.suo

# macOS
.DS_Store

# Windows
Thumbs.db
